{
  "endpoint": "http://98.87.126.245:8080",
  "access_key_id": "e3c28j2LWvl96ygZ",
  "secret_key": "iySxwyIZNfERPKj8m9uqorwCegBAvHCH",
  "environment_id": "automq-gezi",
  "region": "us-east-1",
  "networks": [
    {"zone": "us-east-1a", "subnets": ["subnet-01407be77720af052"]},
    {"zone": "us-east-1b", "subnets": ["subnet-0449afafaf041fb32"]},
    {"zone": "us-east-1c", "subnets": ["subnet-030e55d44ef7df8c0"]}
  ],
  "k8s": {
    "cluster_id": "eks-kgvd4-automq-gezi",
    "node_groups": ["automq-automq-gezi-nodegroup"],
    "namespace": "automq-automq-gezi",
    "service_account": "automq-sa-automq-gezi"
  },
  "version": "5.3.3",
  "upgrade_version": "5.3.3"
}
