---
page_title: "Provider: AutoMQ"
description: |-
AutoMQ Provider is utilized to manage AutoMQ Cloud environments, including both BYOC (Bring Your Own Cloud) and SaaS (Software as a Service) types. The provider allows for the management of environments, instances within those environments, and Kafka resources within those instances (such as Topics, Users, and ACLs).

When using the AutoMQ Provider, it is necessary to have the AutoMQ environment installed and deployed beforehand. You must access the environment console to create a Service Account, which will provide the Access Key information. Subsequently, you need to configure the correct Access Key and Endpoint.

---


# AutoMQ Provider
![Preview](https://img.shields.io/badge/Lifecycle_Stage-Preview-blue?style=flat&logoColor=8A3BE2&labelColor=rgba)

AutoMQ Provider is utilized to manage AutoMQ Cloud environments, including both BYOC (Bring Your Own Cloud) and SaaS (Software as a Service) types. The provider allows for the management of environments, instances within those environments, and Kafka resources within those instances (such as Topics, Users, and ACLs).

## Authentication with AutoMQ Cloud

This provider requires a `automq_byoc_access_key_id` and `automq_byoc_secret_key` for authentication with AutoMQ Cloud environment, enabling users to securely manage their AutoMQ resources. You can get these by creating a Service account refer to [docs](https://docs.automq.com/automq-cloud/manage-identities-and-access).

## Example Usage
### Example Provider Configuration

{{ tffile "examples/provider/provider.tf" }}

### Example Usage for an AWS BYOC environment

{{ tffile "examples/provider/provider.tf" }}

{{ .SchemaMarkdown | trimspace }}

## Helpful Links/Information

* [Report Bugs](https://github.com/AutoMQ/terraform-provider-automq/issues)

* [Documents](https://docs.automq.com/automq-cloud/overview)

* [Request Features](https://automq66.feishu.cn/share/base/form/shrcn7qXbb5aKiYbKqbJtPlGWXc)
